/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
  height: 100%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.nav-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    height: 4rem;
    background-color: #343a40;
}

.navbar-icon {
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav-text-padding{
  padding-left: 2rem;
}

.thx{
  text-align: center;
}

.thx > a {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 30px;
}

.thx > a > span {
  color: #777777;
}


.table{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.headingIcon > i{
  margin-right: 20px;
}

.contact{
  padding: 1rem;
}
.contact > .fa{
  margin: 0 0 2rem 0;
}
.contact > h4{
  padding-bottom: 1rem;
}
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

.carousel-caption-dark {
  color: #FFF;
  text-shadow: 0 0 1rem rgba(0,0,0,1);
}

.carousel-caption-bright {
  color: #000;
  text-shadow: 0 0 0.5rem rgba(255,255,255,1);
}


/* Declare heights because of positioning of img element */
.carousel-item {
  height: 40rem;
  background-color: #777;
  background-size: cover;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  visibility: hidden;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.projects > .row{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 4rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
  }
}
