[submodule "projects/gpacal"]
	path = projects/gpacal
	url = https://github.com/UICHCC/UIC_GPA_Calculator
[submodule "projects/headphoto"]
	path = projects/headphoto
	url = https://github.com/UICHCC/UIC_Headphoto_Synthesizer
