#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  
  a(rel='nofollow', target='_blank', href='http://www.miitbeian.gov.cn/')  粤 ICP 备 15011948 号 - 2